body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url(../IMG/bb.jpg);
}

header {
    background-color: transparent;
    color: #6600cc;
    text-align: center;
    padding: 1em 0;
}

main {
    padding: 20px;
}


#test-container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}


#question-block {
    margin-bottom: 20px;
    padding: 15px;
    border: 2px solid blue;
    border-radius: 5px;
    
}

#question-block.current {
    border-color: blue; 
}


#answers-block {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    margin-bottom: 20px;
}

.answer-button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #eee;
    cursor: pointer;
}

.answer-button:hover {
    background-color: #ddd;
}


#navigation-block {
    margin-bottom: 20px;
}

#question-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.question-nav-button {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #eee;
    cursor: pointer;
}

.question-nav-button.unvisited {
    background-color: #eee; 
}

.question-nav-button.visited {
    background-color: lightgreen; 
}

.question-nav-button.answered {
    background-color: lightcoral; 
}


footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: transparent;
    color: #fff;
}

#timer {
    font-size: 1.2em;
}

#force-finish {
    background-color: red;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

